doctype html
html(lang="en")
  head
    title=contents.title
    <!-- partial:header.html --> <!-- partial -->
  body
    #menu.menu
      <!-- partial:menu.html --> <!-- partial -->
    #content.container
      div !{contents.body}